.content{
width: 90%;
max: width 1000px; 
background-color: aqua;
margin: auto;
padding-top: ;
}





@media screen {
    .content{
        width: 90%;
        min-width: 800px;
        text-align: left;
    }
}

@media screen and (max-width: 800px) {
    .content{
        width:100%;
        text-align: center;
    }
}